{% extends "base.html" %}
{% block title %}
  <h2>AIS - About Us</h2>
{% endblock title %}
{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/styles.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .h1{
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 2%;
        margin-bottom: 3%;
        color: #4482a6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 10%;
        row-gap: 1em;
    }
    .team{
        height: 250px;
        width: 200px;
        background-color: lightslategray;
        border-radius: 5px;
        align-self: center;
        box-shadow: 5px 5px 5px black;
        text-align: center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: x-large;
        font-weight: 500;
    }

    .profileimg{
        height: 175px;
        width: 175px;
        border: solid;
        border-color: antiquewhite;
        margin: 10px;
        font-size: large !important;
    }

    #about-box{
        border: solid; 
        border-width: 2px; 
        border-radius:5px; 
        border-color: lightblue; 
        box-shadow: 5px 5px 5px black; 
        color: white; 
        align-items: center; 
        margin-left: auto;
        margin-right: auto; 
        margin-top: auto; 
        margin-bottom: auto; 
        max-width: 70%; 
        max-height: fit-content;
    }

    #about-para{
        margin: 15px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: larger;
        text-align: center;
        color: #4482a6; 
    }
</style>

<h1 class="h1">About Us</h1>

<div class="container">
    <div class="team" id="member1">
        <img class="profileimg" width="175" height="175" alt="Profile picture of Jacob" src="{% static 'images/jacobprofile.jpg' %}">
        <p>Jacob</p>
    </div>    
    <div class="team" id="member2">
        <img class="profileimg" width="175" height="175" alt="Profile Picture" src="{% static 'images/joelprofile.jpg' %}">
        Joel
    </div>
    <div class="team" id="member3">
        <img class="profileimg" width="175" height="175" alt="Profile Picture" src="{% static 'images/craigprofile.jpg' %}">
        Craig
    </div>
    <div class="team" id="member4">
        <img class="profileimg" width="175" height="175" alt="Profile Picture" src="{% static 'images/maddisonprofile.jpg' %}">
        Maddison
    </div>
</div>

<div id="about-box">
    <p id="about-para">
        We are a group of students with the dream of helping our fellow students (and others) succeed in starting their professional careers. 
        The AIS team consists of four tired university students: Jacob, Joel, Craig, and Maddison. 
        We hope that we can help those preparing for interviews feel more confident
        in a real interview after using our service to practice.
    </p>
</div>
{% endblock content %}