{% extends "base.html" %}


{% block title %}
  AIS - Features
{% endblock %}

{% block content %}
  <div class="centered-container flex-grow-1 d-flex flex-column p-2">
    <h1 class="text-white text-center">Our Features</h1>
    <hr class="white-break">
    <ol>
      <li class="text-white">AI Interview Chatbot</li>
      <li class="text-white">Resume Scanning</li>
      <li class="text-white">Job Lising Scanning</li>
      <li class="text-white">Interview Analytics and Feedback</li>
      <li class="text-white">Response Suggestions</li>
      <li class="text-white">Speech to Text</li>
    </ol>
  </div>
{% endblock %}
