{% extends "base.html" %}


{% block title %}
  AIS - Homepage
{% endblock %}

{% block content %}

  <p style="border-width:3px; border-style:solid; border-color:lightblue; padding: 1em;
  border-radius: 15px;">
    Welcome to the Active Interview Service! Active Interview is designed to help 
    anyone prepare for an upcoming interview. AIS can use your resume and info about the job you are 
    applying for to create customized, specific interview questions to simulate a real interview.
  </p>
{% endblock content %}
