{% extends "base.html" %}


{% block title %}
  AIS - Homepage
{% endblock %}

{% block content %}

{% load static %}
<link href="{% static '/css/styles.css' %}" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  .flex-container{
    max-height: 400px; 
    max-width: 100%; 
    background-color: #0a1345;
  }

  .images{
    align-self: center;
    max-width: fit-content; 
    margin-inline: auto;  
    width: 700px; 
    height: 400px;
  }

  #chat-img{
    align-items: center;
    max-width: 300px; 
    max-height: 300px;
    box-shadow:  12px 7px 1px rgba(0, 0, 0, 0.2);
    position:relative; 
    left: 0%;
  }

  #welcome-para{
    border-width:3px; 
    border-style:solid; 
    border-color:lightblue; 
    padding: 1em;
    border-radius: 15px; 
    color: #4482a6; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: lighter; 
    font-size: 25px;
    text-align: center; 
    max-width: 700px;
  }
  .row{
    align-self: center;
  }
  .col-sm{
    max-height: 80%; 
    width: 30%; 
    margin: 5%; 
    text-align: center; 
    border-style: solid; 
    border-color: lightblue;
    border-radius: 15px;
    color: #4482a6; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: normal; 
    font-size: 25px;
  }

</style>
<div class="images">
  <br>
  <br>
  <img class="logo_img" src="{% static 'images/favicon.png' %}" >
  <br>
  <br>
</div>

<div class="flex-container">
  <br>
  <br>
    <img class="centered-container" id="chat-img" src="{% static 'images/chat_ex.png' %}" >
  <br>
  <br>
</div>

<div style="margin:auto;">
  <br>
  <br>
  <span class="box" >
    <p id="welcome-para">
      Welcome to the Active Interview Service! Active Interview is designed to help 
      anyone prepare for an upcoming interview. AIS can use your resume and info about the job you are 
      applying for to create customized, specific interview questions to simulate a real interview.
    </p>
  </span>
</div>


  <br>
  <br>
  <br>
  <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: lighter; font-size: 25px;
    text-align: center; color: white; font-size: 40px;">Getting Started</h1>

<div class="container">
<div class="row">
    <div class="col-sm">
      <br>
      <p style="max-height: 65%;">1. Create an AIS account, or log in to an existing account</p>
      <br>
    </div>
    <div class="col-sm">
       <br>
       <p style="max-height: 65%">2. Upload your resume</p>
    </div>
    <div class="col-sm">
      <br>
        <p style="max-height: 65%">3. Click Start a Chat</p>
      
    </div>
</div>
</div>

{% if not user.is_authenticated %}
  <a type="button" class="registerbutton text-center" href="{% url 'register_page' %}" 
  style="position:relative; left: 0%; margin-top: 70%;">Log In or Register</a>
{% endif %}

<br>
<br>

{% endblock content %}
