<div class="d-flex flex-column flex-grow-1">
  <div class="overflow-y-auto vh-100 px-3 w-100">
    <!-- <div class="p-3">
      Sidebar
    </div> -->
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 10</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 9</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 8</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 7</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 6</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 5</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 4</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 3</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 2</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">Chat 1</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    </div>
  </div>
</div>
