<div class="d-flex flex-column flex-grow-1 overflow-y-auto overflow-x-hidden">
  <div class="row" style="flex-direction: column;">
    <div class="col user-text-container">
      <div class="card user-text-bubble">
        <div class="card-body">
          <p class="card-text">I turned round, and asked him where his master was.</p>
        </div>
      </div>
    </div>
    <div class="col bot-text-container">
      <div class="card bot-text-bubble">
        <div class="card-body">
          <p class="card-text">
            There he is, said the youth, coming after you, if you will only wait.
            <br>
            <br>
            Certainly we will, said Glaucon; and in a few minutes Polemarchus appeared, and with him Adeimantus, Glaucon’s brother, Niceratus the son of Nicias, and several others who had been at the procession.
            <br>
            <br>
            Polemarchus said to me: I perceive, Socrates, that you and your companion are already on your way to the city.
          </p>
        </div>
      </div>
    </div>
    <div class="col user-text-container">
      <div class="card user-text-bubble">
        <div class="card-body">
          <p class="card-text">You are not far wrong, I said.</p>
        </div>
      </div>
    </div>
    <div class="col bot-text-container">
      <div class="card bot-text-bubble">
        <div class="card-body">
          <p class="card-text">But do you see, he rejoined, how many we are?</p>
        </div>
      </div>
    </div>
    <div class="col user-text-container">
      <div class="card user-text-bubble">
        <div class="card-body">
          <p class="card-text">Of course.</p>
        </div>
      </div>
    </div>
    <div class="col bot-text-container">
      <div class="card bot-text-bubble">
        <div class="card-body">
          <p class="card-text">And are you stronger than all these? for if not, you will have to remain where you are.</p>
        </div>
      </div>
    </div>
    <div class="col user-text-container">
      <div class="card user-text-bubble">
        <div class="card-body">
          <p class="card-text">May there not be the alternative, I said, that we may persuade you to let us go?</p>
        </div>
      </div>
    </div>
    <div class="col bot-text-container">
      <div class="card bot-text-bubble">
        <div class="card-body">
          <p class="card-text">
            But can you persuade us, if we refuse to listen to you? he said.
            <br>
            <br>
            Certainly not, replied Glaucon.
          </p>
        </div>
      </div>
    </div>
    <div class="col user-text-container">
      <div class="card user-text-bubble">
        <div class="card-body">
          <p class="card-text">Then we are not going to listen; of that you may be assured.</p>
        </div>
      </div>
    </div>
    <div class="col bot-text-container">
      <div class="card bot-text-bubble">
        <div class="card-body">
          <p class="card-text">Adeimantus added: Has no one told you of the torch-race on horseback in honour of the goddess which will take place in the evening?</p>
        </div>
      </div>
    </div>
  </div>
</div>
