:root {
	--depths: #070737;
    --shallows: #4482A6;
    --abyss: #020305;
    --reef: #031414;
    --alga: #141414;
}

html, body {
    height: 100%;
    background-color: var(--depths);
    /* overflow: hidden;  */
}
.overflow-y-auto {
    padding-right: 1rem; /* adjust as needed */
} 
.chat-container {
    /* max-width: 700px; */
    margin: 0 auto; /* Center horizontally */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--depths);
}
.inner-chat-container {
    max-width: 700px;
    margin: 0 auto; /* Center horizontally */
    width: 100%;
    display: flex;
    min-height: 0;
    flex-direction: column;
    background-color: var(--depths);
}
.bubbles-container {
    overflow: hidden;
}
.navbar {
    background-color: var(--abyss);
}
/* .chatbox {
    width: 100%;
    min-height: 40px;
} */
.user-text-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-right: 20.0rem; */
}
.bot-text-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.user-text-bubble {
    max-width: 500px;
    width: auto;
    color: white;
    background-color: var(--shallows) !important;
}
.bot-text-bubble {
    max-width: 500px;
    width: auto;
}
.whiteTextOverride {
    color: white !important;
}
.chat-sidebar {
    background-color: var(--reef);
    max-height: 100dvh !important;
}
.offcanvas {
    /* background-color: var(--reef); */
    max-width: 85vw !important;
    max-height: 100dvh !important;
}
.chat-card {
    color: white;
    background-color: var(--alga) !important;
}
.chats-button {
    color: #a2a3a5 !important;
    border-color: white !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(162,163,165,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.logo-img {
    height: 100%;
    max-height: 40px;
    /* margin: 0.1rem; */
}