:root {
	--buff: #e59f71;
	--sinopia: #BA5A31;
	--night: #0C0C0C;
	--emerald: #69DC9E;
}

html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: var(--buff);
}

.sidebar p {
    color: var(--night);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.content {
    /* margin-left: 250px; */
    padding: 20px;
    min-height: calc(100vh - 75px); /* To ensure content takes full height minus footer */
}

.textbox {
	background-color: var(--emerald);
    align-self: flex-end;
    text-align: center;
    min-height: 75px;
    /* width: 100%; */
}

.textbox p {
    text-align: left;
    width: 100%;
}

.nav-text {
    color: var(--night);
}

footer {
    background-color: var(--emerald);
    padding: 10px;
    text-align: right;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Ensure footer stays at the bottom of content */
}
