<div class="chat-sidebar d-flex flex-column flex-grow-1">
  <div class="overflow-y-auto vh-100 px-3 w-100">
    <a href="NEWCHAT">
      <div class="button-card card mb-3 mt-3">
        <div class="card-body">
          <p class="card-text">Create Interview</p>
        </div>
      </div>
    </a>
    <hr>
    {% for owner_chat in owner_chats %}
      <a href="{% url "chat-view" chat_id=owner_chat.id %}">
        <div class="chat-card card mb-3 mt-3">
          <div class="card-body">
            <h5 class="card-title">{{ owner_chat.title }}</h5>
            {% comment %} <p class="card-text">Lorem Ipsum</p> {% endcomment %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
