<div class="chat-sidebar d-flex flex-column flex-grow-1">
  <div class="overflow-y-auto vh-100 px-3 w-100">
    <a href="{% url "chat-create" %}" class="full-block-link">
      <div class="button-card card mb-3 mt-3">
        <div class="card-body">
          <p class="card-text">New Interview</p>
        </div>
      </div>
    </a>
    <hr class="white-break">
    {% for owner_chat in owner_chats %}
      <div class="{% if chat.id == owner_chat.id %}chat-card-active{% else %}chat-card{% endif %} card mb-3 mt-3">
        <div class="btn-group dropend" data-bs-theme="dark">
          <a href="{% url "chat-view" chat_id=owner_chat.id %}" class="full-block-link">    
            <h5 class="card-title m-2">{{ owner_chat.title }}</h5>
          </a>
          <button type="button" class="sidebar-dropend btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-popper-config='{"strategy":"fixed"}' aria-expanded="false">
            <span class="visually-hidden">Toggle Dropend</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><a class="dropdown-item" href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
