:root {
	--buff: #E59F71;
	--sinopia: #BA5A31;
	--night: #0C0C0C;
	--emerald: #69DC9E;
}

html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: var(--buff);
}

.sidebar p {
    color: var(--night);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.content {
    /* margin-left: 250px; */
    padding: 20px;
    min-height: calc(100vh - 75px); /* To ensure content takes full height minus footer */
}

.textbox {
	background-color: var(--emerald);
    align-self: flex-end;
    text-align: center;
    min-height: 75px;
    /* width: 100%; */
}

.textbox p {
    text-align: left;
    width: 100%;
}

.nav-text {
    color: var(--night);
}

footer {
    background-color: var(--emerald);
    padding: 10px;
    text-align: right;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Ensure footer stays at the bottom of content */
}

html, body {
    height: 100%;
    /* overflow: hidden;  */
}
.overflow-y-auto {
    padding-right: 1rem; /* adjust as needed */
} 
.chat-container {
    /* max-width: 700px; */
    margin: 0 auto; /* Center horizontally */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inner-chat-container {
    max-width: 700px;
    margin: 0 auto; /* Center horizontally */
    width: 100%;
    display: flex;
    min-height: 0;
    flex-direction: column;
}
.bubbles-container {
    overflow: hidden;
}
/* .chatbox {
    width: 100%;
    min-height: 40px;
} */
.user-text-container {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    /* margin-right: 20.0rem; */
}
.bot-text-container {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
}
.user-text-bubble {
    max-width: 500px;
    width: auto;
}
.bot-text-bubble {
    max-width: 500px;
    width: auto;
}