name: Continuous Deployment Workflow
on:
  push:
    branches:
      - prod

jobs:
  deploy:
    name: Deploy
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: Genez-io/genezio-github-action@v3
        with:
          token: ${{ secrets.GENEZIO_TOKEN }}
      - name: Deploy Script
        working-directory: ./
        run: genezio deploy
